<!DOCTYPE html>
<html>
<body>
<h1>Quadria UI</h1>
<h2>Turn {{.Turn}}</h2>
<ul>
{{range $p := .Players}}
    <li style='color:{{$p.Color}}'>{{if eq $p.Name $.Active.Name}}<b>{{$p.Name}}</b>{{else}}{{$p.Name}}{{end}}</li>
{{end}}
</ul>
<div id="board"></div>
<script>
const steps = {{.Steps}};
function render(board) {
    let html = '<table>';
    for (let y = 0; y < board.length; y++) {
        html += '<tr>';
        for (let x = 0; x < board[y].length; x++) {
            const t = board[y][x];
            html += `<td style="width:30px;height:30px;text-align:center;background:${t.color}">`;
            if (t.value >= 1 && t.value <= 6) {
                html += `<img src="/dice/${t.value}?color=${t.color}" width="30" height="30" style="display:block" alt="${t.value}"/>`;
            } else {
                html += t.value;
            }
            html += `</td>`;
        }
        html += '</tr>';
    }
    html += '</table>';
    document.getElementById('board').innerHTML = html;
}
let i = 0;
(function step(){
    if (i < steps.length) {
        render(steps[i]);
        i++; 
        setTimeout(step, 100);
    } else {
        window.location.href = '{{.GameURL}}';
    }
})();
</script>
</body>
</html>
